<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reeled-inn</title>
    <link rel="stylesheet" href="stylesheets/style2.css">
</head>
<body>
    <div class="wrapper">
        <div id="header">
            <div><h1>Reeled <span style="color: rgb(229, 134, 10)">Inn</span></h1></div>
            <div>
                <ul>
                    <li><a href="/register">Sign Up</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </div>




        <div class="cols">
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://i.guim.co.uk/img/media/11f78c7bb6451437a5286b55ff9d70394e93af1f/0_0_4240_2545/master/4240.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=d8587964b857b01d6ffef65669b0868e)">
                              <div class="inner">
                                  <p>Paterson</p>
                    <span>Click to watch</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                <p>A rare, intimate glimpse into the life and mind of Jordan Peterson; poet, bus driver, lover extraordinaire</p>
                                <span class="price" style="color: rgb(229, 134, 10); margin-top: 10px;">$30</span>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container">
                        <div class="front" style="background-image: url(https://images.immediate.co.uk/production/volatile/sites/3/2017/09/IT-1.jpg?quality=90&resize=620,414)">
                            <div class="inner">
                                <p>It</p>
                  <span>Click to watch</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                              <p>Kids band together to defeat an evil clown terrorizing their town in the 2017 adaptation of Stephen King's novel 'It'</p>
                              <span class="price" style="color: rgb(229, 134, 10); margin-top: 10px;">$30</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container">
                        <div class="front" style="background-image: url(https://cdn.theatlantic.com/thumbor/xNO6nXKe57CKb1oPftDzLzP7Tlo=/0x0:1200x675/960x540/media/img/mt/2019/10/jojo/original.jpg)">
                            <div class="inner">
                                <p>Jojo Rabbit</p>
                  <span>Click to watch</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                              <p>A satirical coming-of-age story about a boy in Hitler's army who discovers a new perspective on life with the help of an unlikely friend.</p>
                              <span class="price" style="color: rgb(229, 134, 10); margin-top: 10px;">$30</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container">
                        <div class="front" style="background-image: url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2020/01/08/11/1917-George-MacKay-2.jpg?quality=75&width=1200&auto=webp)">
                            <div class="inner">
                                <p>1917</p>
                  <span>Click to watch</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                              <p>Seamless single-shot: 2 soldiers race to deliver message in WWI in '1917', a tale of heroism and sacrifice</p>
                              <span class="price" style="color: rgb(229, 134, 10); margin-top: 10px;">$30</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://www.denofgeek.com/wp-content/uploads/2018/09/conjuring-timeline-the-nun-annabelle-1.jpg?resize=768%2C432)">
                              <div class="inner">
                                  <p>The Conjuring</p>
                    <span>Click to watch</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                <p>Paranormal investigators help a family terrorized by a dark presence in their farmhouse, facing an evil beyond their imagination."</p>
                                <span class="price" style="color: rgb(229, 134, 10); margin-top: 10px;">$30</span>
                              </div>
                          </div>
                      </div>
                </div>

                <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container">
                        <div class="front" style="background-image: url(https://detektor.fm/wp-content/uploads/2019/11/the-irishmannetflix.jpg)">
                            <div class="inner">
                                <p>The Irishman</p>
                  <span>Click to watch</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                              <p>A cinematic masterpiece chronicling the life of a hitman, and exploring themes of loyalty, betrayal, and the consequences of our choices</p>
                              <span class="price" style="color: rgb(229, 134, 10); margin-top: 10px;">$30</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://ichef.bbci.co.uk/images/ic/640x360/p0f24hjv.jpg)">
                              <div class="inner">
                                  <p>The Fault in Our Stars</p>
                    <span>Click to watch</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                <p>A heart-wrenching romance about two teenagers with cancer who fall in love and learn to cherish every moment of life</p>
                                <span class="price" style="color: rgb(229, 134, 10); margin-top: 10px;">$30</span>
                              </div>
                          </div>
                      </div>
                </div>

                <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://atom-wordpress-assets.s3.amazonaws.com/movie-news/wp-content/uploads/2020/03/Insider-Header.png)">
                              <div class="inner">
                                  <p>Inception</p>
                    <span>Lorem ipsum</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p>A mind-bending thriller that explores the power of dreams, featuring a team of specialists who enter people's dreams to steal their secrets or plant new ideas.</p>
                                <span class="price" style="color: rgb(229, 134, 10); margin-top: 10px;">$30</span>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
       </div>


    <script src="javascripts/script.js"></script>
</body>
</html>